@page "/"
@inherits LayoutComponentBase
@using MoneyTracker.Models;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<EditForm Model="@priceActivity" OnValidSubmit="SubmitForm">
    <div>
        <label>Name</label>
        <InputText @bind-Value="priceActivity.Name" />
    </div>
    <div>
        <label>Date</label>
        <InputDate @bind-Value="priceActivity.Time" />
    </div>
    <div>
        <label>Price</label>
        <InputNumber @bind-Value="priceActivity.Price" />
    </div>
    <div>
        <label>T</label>
        <!-- <InputNumber @bind-Value="priceActivity.Type" /> -->
        <InputSelect @bind-Value="priceActivity.Type">
            <option selected value="0">payment</option>
            <option value="1">Debt</option>
            <option value="2">Food</option>
            <option value="3">Health</option>
            <option value="4">Incurence</option>
            <option value="5">Transport</option>
            <option value="6">Fittness</option>
            <option value="7">Solidaris</option>
            <option value="8">PayPal</option>
            <option value="9">Misc</option>
            <option value="10">Investments</option>
            <option value="11">Utilities</option>
            <option value="12">Income</option>
        </InputSelect>
    </div>
    <Button onclick="@SubmitForm">Test</Button>
</EditForm>

@inject Context.PriceAppContext dbContext;
@code {
    private PriceActivity priceActivity = new PriceActivity();
    private BarChart barChart;

    protected override async Task OnInitializedAsync()
    {
    }

    async Task SubmitForm()
    {
        await dbContext.Activities.AddAsync(priceActivity);
        await dbContext.SaveChangesAsync();
        priceActivity = new PriceActivity();
    }
}